$background-color: #F9F8F6;
$primary-color:#2C6E49;
$secondary-color: #da522d;

:root {
  --background-color: #F9F8F6;
  --primary-color: #2C6E49;
  --secondary-color: #da522d;
}

* {
  font-family: 'Montserrat', sans-serif;
 // background-color: #F9F8F6;
  //color: #12130f;
}
