/* feature/armado-y-ensamblado */
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.extraContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.imgFooter {
  margin-right: auto;
  margin-left: 1.3rem;
}

.listFooter {
  color: var(--background-color);
}

.socialFooter {
  display: flex;
  gap: 1rem;
}

.extraContainer a {
  color: var(--background-color);
  text-decoration: none;
  cursor: pointer;
}

.infoContainer a {
  color: var(--background-color);
  text-decoration: none;
  cursor: pointer;
}
/* responsive */
@media screen and (max-width: 767px) {
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 20px;
    flex-direction: column;
    gap: 2rem;
  }

  .imgFooter {
    max-width: 110px;
    margin-left: 1.7rem;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }

  .extraContainer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .extraContainer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
